Mental/.idea/vcs.xml
Mental/.idea/misc.xml
Mental/.idea/gradle.xml
Mental/.idea/encodings.xml

Mental/app/build

Mental/app/html/graphics/icons/open-iconic-master/*.db 
Mental/app/html/graphics/tgm/Thumbs.db 
Mental/app/html/graphics/wof/Thumbs.db

Mental/app/html/nbproject
Mental/app/html/.project
Mental/app/html/.settings
Mental/app/html/.idea
Mental/app/src/androidTest/java/de/soeiner/mental/ClassicTest.java

Mental/.idea/vcs.xml
Mental/.idea/misc.xml

*.uxf
